{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'toDoIt/index.css' %}">
{% endblock css %}

{% block content %}
<div class="row mt-2">
    <div class="d-flex justify-content-center">
        <h2>Welcome to my ToDoApp!</h2>
    </div>

    <div class="row mt-5">
        <div class="d-flex justify-content-center">
            <div class="row row-width box">
                {% for task in tasks %}
                    {% if forloop.last %}
                        <h4 class="py-1 m-0 border-bottom-last">{{task.title}}</h4>
                    {% else %}
                        <h4 class="py-1 m-0 border-bottom">{{task.title}}</h4>
                    {% endif %}
                {% endfor %}
            </div>    
        </div>
    </div>
    
</div>
    
    

        
{% endblock content %}